body {
	background-color: #49D8F5;
	padding: 50px;
}

h1 {
	color: blue;
	font-family: lobster;
	font-weight: bold;
	line-height: 1.5px;
	text-align: center;
}

p {
	font-family: montserrat;
	text-align: center;
}

#survey-form {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 1rem;
	resize: vertical;
	max-width: 600px;
	min-width: 300px;
	margin: auto;
}

 .input {
 	width: 100%;
 	padding: 12px;
 	border: 1px solid #ccc;
 	box-sizing: border-box;
 	resize: vertical;
 	border-radius: 5px;
 }

 label {
 	font-family: montserrat;
 	font-size: 14px;
 }

.division {
 	width: 47%;
 }

 #right {
 	float: right;
 	margin-top: -86px;
 }

 .caption {
 	font-family: montserrat;
 	font-size: 12px;
 	font-style: italic;
 	line-height: 1.5px;
 }

 select {
 	width: 100%;
 	padding: 12px;
 	border: 1px solid #ccc;
 	box-sizing: border-box;
 	resize: vertical;
 	border-radius: 5px;
 }

 #description {
 	text-align: center;
 }

 textarea {
 	width: 100%;
 	padding: 12px;
 	border: 1px solid #ccc;
 	box-sizing: border-box;
 	resize: vertical;
 	border-radius: 5px;
 	height: 100px;
 }

 hr {
 	opacity: .5;
 }

 button {
 	padding: 10px;
 	border-radius: 10px;
 	background-color: blue;
 	color: white;
 	margin: 10px 0px 0px 0px;
 }

 button:hover {
 	background-color: orange;
 }

 ::placeholder {
  opacity: 1;
  font-family: montserrat;
}
